<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <form @submit.prevent="addTask">
            <input type="text" v-model="nuevaTarea" placeholder="Tarea">
            <input type="submit"  value="Guardar Tarea">
        </form>
        <hr>
        <input type="range" v-model="tiempo">{{ tiempo }}
        <br>
        <input type="search" v-model="busqueda" placeholder="Buscar tarea">
        <hr>
        <p v-for="(valor, propiedad) in usuario"> {{valor}} : {{propiedad}}</p>

        <hr>

        <ul>
            <li v-for="tarea in filteredTask">{{tarea.nombre}} - {{tarea.tiempo}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="Assets/js/app.js"></script>
</body>
</html>